<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>{{pessoa.nome}}</h2>
<h2>{{pessoa.sobrenome}}</h2>
<label>
    nome:
      <input [(ngModel)]="pessoa.nome" value="pessoa.nome" placeholder="nome">
      <input [(ngModel)]="pessoa.sobrenome" value="pessoa.sobrenome" placeholder="sobrenome">
      <input type="button" value="Salvar" (click)="salvar()">
</label>

<table><thead>
  <tr>
    <td>Nome</td>
    <td>Sobrenome</td>
  </tr>
</thead>
  <tr *ngFor="let pessoa of lista">
    <td>{{pessoa.nome}}</td>
    <td>{{pessoa.sobrenome}}</td>
    <td><input type="button" value="Alterar" (click)="Alterar(pessoa)"></td>
    <td><input type="button" value="Excluir" (click)="Excluir(pessoa)"></td>
  </tr>

</table>
